<!--<!doctype html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <!--/*/ <th:block th:replace="jbravoHeaderFooterFragments.html :: headerfiles(pitchTitle='About')">
           </th:block> /*/-->
</head>

<body>

<div th:replace="jbravoHeaderFooterFragments.html :: bodyHeader(pitchTitle='About')">
</div>


<!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->

        <!-- History section -->
        <section>
            <div class="history_sction">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_history">
                                <h2 class="title">It all started with a man, a slice and a dream.</h2>
                                <div class="desc">
                                    <p>1941</p>
                                    <p>Johnny Bravo is born in Colorado Springs, CO. Some folks say their pizzas seemed to taste just a little better that day.</p>
                                    <p>1951</p>
                                    <p>A young Johnny opens his first business at only 10-years-old, a lawn cutting service.</p>
                                    <p>1958</p>
                                    <p>Johnny leaves for college to pursue his first love: Football. While there he discovers something amazing, something that would influence his life more than almost anything else. Pizza.</p>
                                    <p>1967</p>
                                    <p>Back home from college, Johnny rents a small building with 3 parking spaces. This humble shop was dubbed “the only link in the world’s smallest pizza chain.” You know it today as jBravo Pizza.</p>
                                    <p>1967</p>
                                    <p>Johnny started serving up the pizzas he’d always made for his friends and family at home. Trouble was, most folks in 1967 had never heard of, let alone eaten, pizza.</p>
                                    <p>1968</p>
                                    <p>Johnny’s first go at advertising is a kid out front with a sign and a bell. Was it effective? The answer has been lost to history.</p>
                                    <p>1972</p>
                                    <p>jBravo Pizza officially opens its second location. Johnny and his brother converted the building from an old washateria, a laundromat, all by themselves.</p>
                                    <p>1989</p>
                                    <p>Pressured by national big-guy pizza chains, Johnny Bravo launches his now-famous barrel stunt to drum up publicity. Dressed in only a barrel, sneakers and a cap, he paraded through the streets of Monroe with a sign. His message: Please Eat Johnny’s Pizza. The media came out in force and made Johnny’s famous again. Reminding everyone why this hometown favorite needed to stay that way.</p>
                                    <p></p>
                                    <p>Johnny’s begins its newest phase, as employees begin to take ownership of the company and brand. In three years time, our employees owned over 50% of the company! Whether a partial owner or a brand new employee, everyone takes as much pride in jBravo Pizza as they do in a job well done.</p>
                                    <p>TODAY</p>
                                    <p>jBravo Pizza looks towards the future. Not only for ourselves, but for the whole world. We help pay young employees’ tuition, support local and national charities, and work hard to endear ourselves to every community that lets us in. As Johnny Bravo always said, “If you can help, help as much as you can.”</p>
                                
                                </div>
                                <div class="points_history">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon1">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon2">
                                                    <a class="trans" title="Secure card payment">
                                                        <span>Secure card payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon3">
                                                    <a class="trans" title="Cash payment">
                                                        <span>Cash payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon4">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History section -->

        <!-- Order Section start here -->
        <section>
            <div class="Order">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Order">
                                <h2 class="title">Order Online Your Food</h2>

                                <p class="desc">We offer delicious menus and packages including Pizzas, handmade Pastas, traditional Italian Chicken dishes, and mouthwatering Salads and Appetizers.</p>
                                <div class="order_button">
                                    <a href="menu.html" class="red_btn trans hvr-ripple-out" title="Order Now">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Order Section end here -->

        <!-- Footer Section here -->
        <!--/*/ <th:block th:insert="jbravoHeaderFooterFragments.html :: footer">
           </th:block> /*/-->


    </div>

    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateCartSummary( [[${cart}]] );
    </script>
    <!-- JS Here -->
    
</body>

</html>