<!--<!doctype html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <!--/*/ <th:block th:replace="jbravoHeaderFooterFragments.html :: headerfiles(pitchTitle='My Cart')">
           </th:block> /*/-->
</head>

<body>

<div th:replace="jbravoHeaderFooterFragments.html :: bodyHeader(pitchTitle='My Cart')">
</div>


<!-- breadcum section -->
        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcum section -->
        <!-- Our cart section -->
        <section>
            <div class="main_cart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Cart</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart_list">
                                <ul class="inner_cartlist" id="cart_items_list">
                                    <li class="header">
                                        <div class="main_head">
                                            <div class="edit">&nbsp;</div>
                                            <div class="pro_name">
                                                <h4>Product</h4></div>
                                            <div class="pro_qty">
                                                <h4>Qty</h4></div>
                                            <div class="pro_price">
                                                <h4>Price</h4></div>
                                            <div class="pro_total">
                                                <h4>Total</h4></div>
                                        </div>
                                    </li>
                                    <!--   This section contains the dynamically generated cart content  -->
                                </ul>
                                <div class="coupan_block">
                                    <form method="post" id="couponform">
                                        <div class="coupan_code">
                                            <input type="text" name="Coupancode" class="form-control" placeholder="Coupon Code">
                                            <button type="submit" class="coupon-btn send trans hvr-ripple-out" name="coupon">Apply Coupon</button>
                                            <!-- <input type="submit" value="Apply Coupon" class="send trans"> -->
                                        </div>
                                    </form>
                                    <form action="/setdelivery" id="deliveryForm" method="get">
                                        <div class="Redio_diltype">
                                            <ul>
                                                <li>

                                                    <input type="radio" id="Delivery" name="deliver_type" value="delivery" onclick="this.form.submit()" checked>
                                                    <label for="Delivery">Delivery</label>
                                                </li>
                                                <li>
                                                    <input type="radio" id="takeaway" name="deliver_type" value="pickup" onclick="this.form.submit()">
                                                    <label for="takeaway">Take Away</label>
                                                </li>
                                        </ul>
                                    </div>
                                </form>
                                </div>
                                <div class="checkout">
                                    <p class="order_dscr">Order with Delivery</p>
                                    <p class="order_total" id="orderWithDeliveryTotal"><span >Total :</span></p>
                                    <div class="btn_checkout">
                                        <a href="#" class="trans gray_btn hvr-ripple" title="Update Cart">Update Cart </a>
                                        <a href="checkout.html" class="trans red_btn squre-btn hvr-ripple-out" title="Proceed to Checkout">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our cart section -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:855 230 0555" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->

        <!-- Footer Section here -->
        <!--/*/ <th:block th:insert="jbravoHeaderFooterFragments.html :: footer">
           </th:block> /*/-->


    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateCartList( [[${cart}]] );
        generateDeliveryButtons( [[${cart}]] );
        setOrderTotalWithDelivery( [[${cart.TotalCostWithDelivery}]] )
    </script>
</body>

</html>