<!--<!doctype html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <!--/*/ <th:block th:replace="jbravoHeaderFooterFragments.html :: headerfiles(pitchTitle='Contact Us')">
           </th:block> /*/-->
</head>

<body>

<div th:replace="jbravoHeaderFooterFragments.html :: bodyHeader(pitchTitle='Contact Us')">
</div>


<!-- breadcum section -->
        <!-- Our login section -->
        <section id="contact_us">
            <div class="contact_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_contact">
                                <div class="contact_left">
                                    <div class="contact_box  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Send Us a Quick Message</h2>
                                        <form method="post" id="contactusform" action="#" th:action="@{/thank-you.html}" th:object="${thankYouInfo}">
                                            <div class="login_form">
                                                <ul>
                                                    <li>
                                                        <label for="FirstName">First Name<span>*</span></label>
                                                        <input class="form-control" id="FirstName" placeholder="" title="First Name" name="fname" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="LastName">Last Name<span>*</span></label>
                                                        <input class="form-control" id="LastName" placeholder="" title="Last Name" name="lname" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="Subject">Subject</label>
                                                        <input class="form-control" id="Subject" placeholder="" title="Subject" name="subject" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="Message">Message</label>
                                                        <textarea class="form-control" title="Message" name="message" id="Message"></textarea>
                                                    </li>

                                                    <li>
                                                        <button type="submit" class="contactus-btn red_btn trans squre-btn hvr-ripple-out" name="Let'sdoit">Let's do it</button>

                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="contact_right ">
                                    <div class="contact_box col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Get In Touch</h2>

                                        <h3 class="cont_header">By simply doing business with us, we will ​guarantee our service response to you within 24hrs</h3>
                                        <ul class="contact_dtls">
                                            <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Address</h3>
                                                <p><a href="#">Colorado Technical University, North Chestnut Street, Colorado Springs, CO</a></p>
                                            </li>
                                            <li class="email">
                                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Email</h3>
                                                <p><a href="mailto:info@pizza.co.uk">info@pizza.co.uk</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Phone</h3>
                                                <p><a href="tel:+012345656789">(855) 230-0555</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Open</h3>
                                                <p>Mon - Fri: 08:00 am - 10:00 pm</p>
                                                <p>Sat - Sun: 10:00 am - 11:00 pm</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our login section -->
        <!-- Map Start here -->
        <div class="map">
            <iframe src="https://maps.google.com/maps?hl=en&amp;q=new%20maxico%20city+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=6&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <!-- Map End here -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:855 230 0555" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->
        <!-- Footer Section here -->
        <!--/*/ <th:block th:insert="jbravoHeaderFooterFragments.html :: footer">
           </th:block> /*/-->


    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <!-- JS Here -->
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateCartSummary( [[${cart}]] );
    </script>
</body>

</html>