<!--<!doctype html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <!--/*/ <th:block th:replace="jbravoHeaderFooterFragments.html :: headerfiles(pitchTitle='Home page')">
           </th:block> /*/-->
</head>

<body>

<div th:replace="jbravoHeaderFooterFragments.html :: bodyHeader(pitchTitle='Home page')">
</div>



<!-- How to work section start here -->
        <div class="hwork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main_hwork">
                            <ul>
                                <li class="order">
                                    <div class="title"><img src="images/orderNow.gif" alt=""></div>
                                </li>
                                <li class="deliver_L">
                                    <div class="title"><img src="images/Location.gif" alt="Delivery location"></div>
                                </li>
                                <li class="deliver_pick">
                                    <div class="title"> <img src="images/PickUp_Delivery.gif" alt=" Delivery or Pick up "> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- How to work section start here -->

        <!-- popular our food start here -->
        <section>
            <div class="popular">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_popular">
                                <h2 class="title">Our Popular Food</h2>
                                <p class="desc">Choose from over 30 craveable toppings to make your perfect Food.
                                    <br> Don’t love what you ordered? Let us know. We’re all about second chances.</p>
                                <div class="p_card">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>

                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/woahmama.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">Woah Mama Pizza</h3>
                                                            <p class="desc">Tender chicken with our Ranch sauce, cheddar cheese, onions, bell peppers, jalapeños, bacon, & mozzarella cheese.</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 10.00</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/Bacon-Cheeseburger.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">BACON CHEESEBURGER</h3>
                                                            <p class="desc">Fresh-cooked juicy hamburger, bacon, cheddar cheese, onion, & mozzarella cheese. </p>
                                                            <div class="price_block">
                                                                <div class="price">$ 9.89</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/BBQ-Blast.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">BBQ BLAST</h3>
                                                            <p class="desc">Juicy chicken with our BBQ sauce, cheddar cheese, onions, bell peppers, jalapeños, bacon & mozzarella cheese. </p>
                                                            <div class="price_block">
                                                                <div class="price">$ 4.10</div>
                                                                <a href="#" class="card_btn">
                                    Add to cart
                                  </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/Buffalo-Chicken.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">BUFFALO CHICKEN</h3>
                                                            <p class="desc">Grilled chicken with our Buffalo sauce, cheddar cheese, onions, bell peppers, jalapeños, bacon, & mozzarella cheese.</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 4.79</div>
                                                                <a href="#" class="card_btn">
                                    Add to cart
                                  </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/margarita2.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">WHO’S TO BLAME</h3>
                                                            <p class="desc"> jBravo Gold Tequila, triple sec and our house margarita blend.</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 10.00</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/garlicBread.jpg" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">Garlic Bread</h3>
                                                            <p class="desc">Butter, olive oil, garlic, crusty bread</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 5.00</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/CARAMELICIOUS.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">CHOCOLATE CARAMELICIOUS</h3>
                                                            <p class="desc">Original Cheesecake Swirled with Snickers® on a Brownie Crust with Chocolate, Caramel and Peanuts.</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 8.00</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <ul>
                                                <li>
                                                    <div class="card">
                                                        <div class="C_img"> <img src="images/CaramelAppleCheesecake.png" class="absoImg" alt=""> </div>
                                                        <div class="C_desc">
                                                            <h3 class="title">CARAMEL APPLE CHEESECAKE</h3>
                                                            <p class="desc">Our Creamy Original Cheesecake Loaded with Caramel Apples, Topped with More Caramel on a Graham Crust.</p>
                                                            <div class="price_block">
                                                                <div class="price">$ 3.00</div>
                                                                <a href="#" class="card_btn">Add to cart</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- popular our food start here -->

        <!-- client feedback start here -->
        <section>
            <div class="client_say">
                <div class="main_client">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="middle_Cpitch">
                                    <h2 class="title">What Our Customers have to say...</h2>
                                    <div class="testi_slider">
                                        <div>
                                            <p class="desc"><span class="double_quat"></span>Great pizza!
                                                <br>The service and food is great! I come here often. It is definitely worth repeat visits. Lunch time is not the best to go though, the buffet goes empty very quickly, and it takes them awhile to replenish it.<span class="double_quat2"></span></p>
                                            <div class="sign"> <span class="name">Paul Manning</span>
                                                <span class="Desig">Date of visit: April 2021</span> </div>
                                        </div>
                                        <div>
                                            <p class="desc"><span class="double_quat"></span>Great Delivery Experience
                                                <br>I was staying at a local hotel for work. After a long day I needed to get some computer time and catch up. I decided to order a pizza.
                                                <br>they good<span class="double_quat2"></span></p>
                                            <div class="sign"> <span class="name">Franko Grove</span> <span class="Desig">Date of visit: Jan. 2021</span> </div>
                                        </div>
                                        <div>
                                            <p class="desc"><span class="double_quat"></span>Great pizza
                                                <br> Had a great time at JBravo Pizza great food with a very helpful staff love this place very good pizza at a affordable price
                                                <br> Give them a try, you won’t be sorry! <span class="double_quat2"></span></p>
                                            <div class="sign"> <span class="name">Dahir Aden</span> <span class="Desig">Date of visit: Oct. 2020</span> </div>
                                        </div>
                                        <div>
                                            <p class="desc"><span class="double_quat"></span>This will always be my go to pizza joint...
                                                <br> I have been going to this place since I was a kid and it is the one I prefer. Of all their locations I have visited, this one I have had the least amount of troubles with. The people are nice and always a pleasure to deal with
                                                <br>try em out<span class="double_quat2"></span></p>
                                            <div class="sign"> <span class="name">Umesh Sapkota</span> <span class="Desig">Date of visit: March 2021</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- client feedback end here -->

        <!-- Map Start here -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.30540321399!2d-104.83652378443779!3d38.89413087957108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87134fdab364d4f7%3A0x9055fa0519dfe6e1!2sColorado%20Technical%20University!5e0!3m2!1sen!2sus!4v1616795565650!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>        </div>
        <!-- Map End here -->

        <!-- Footer Section here -->
        <!--/*/ <th:block th:insert="jbravoHeaderFooterFragments.html :: footer">
           </th:block> /*/-->

    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateCartSummary( [[${cart}]] );
    </script>
     <!-- JS Here -->
</body>

</html>