<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="images/jbravo_icon.ico" type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>Menu | jBravo pizza</title>
    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet" >
    <!-- Fonts here-->

    <!-- Style Here -->
    <link rel="stylesheet" href="css/slick.css" >
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- JS -->
    <script src="js/popper.min.js" defer></script>
    <script src="js/jquery.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start Here -->
        <header id="Header">
            <div class="main_header inner_page">
                <div class="top_nav" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a href="index.html" title="jBravo Pizza"><img src="images/jBravo_logo_2.png" alt="jBravo Pizza"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a href="index.html" class="trans hvr-underline-from-left">Home</a></li>
                                            <li><a href="about.html" class="trans">About</a></li>
                                            <li><a href="menu.html" class="trans">Order</a></li>
                                            <li><a href="login.html" class="trans">Sign-In</a></li>
                                            <li><a href="login.html" class="trans">Sign-up</a></li>
                                        </ul>
                                    </div>
                                    <div class="Cart">
                                        <a href="cart.html" title="Cart">
                                            <span class="Cart_count">Cart : (0) $00.00</span>
                                            <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                                            <img class="cart_img" src="/images/cart_1.png" alt="cart_1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
                <div class="H_banner">
                    <div class="main_pitch">
                        <h1 class="page_title">Menu</h1>
                    </div>
                </div>
            </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a href="index.html" title="jBravo Pizza"><img src="images/jBravo_logo_2.png" alt="jBravo Pizza"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="menu.html">Order</a></li>
                        <li><a href="login.html">Sign-In</a></li>
                        <li><a href="login.html">Sign-up</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header end Here -->

        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>Our Menu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->
        <!-- Our Menu section -->
        <!-- Our Menu section -->
        <section>
            <div class="Our_menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Entrées</h2>
                                <div class="content_menu bottom_pitch">
                                    <div class="main_bpitch">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item pizza">
                                                <a class="nav-link active trans" data-toggle="tab" href="#pizza" title="Pizza">
                                                    <span class="icon">Pizza</span>
                                                </a>
                                            </li>
                                            <li class="nav-item burger1">
                                                <a class="nav-link trans" data-toggle="tab" href="#burger1" title="Sandwiches">
                                                    <span class="icon">Sandwiches</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Salads">
                                                <a class="nav-link trans" data-toggle="tab" href="#salad" title="Salads">
                                                    <span class="icon">Salads</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Desserts">
                                                <a class="nav-link trans" data-toggle="tab" href="#Desserts" title="Desserts">
                                                    <span class="icon">Desserts</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Beverages">
                                                <a class="nav-link trans" data-toggle="tab" href="#Beverages" title="Beverages">
                                                    <span class="icon">Beverages</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">

                                    <div id="pizza" class=" tab-pane active">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="pizza_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="burger1" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="sandwich_items_row">
                                                                <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="salad" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="salad_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="Desserts" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/Cinnamon-Sticks-600px.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">CINNAMON STICKS</h3>
                                                                    <p class="PT_dtls">Deep-pan crust topped with cinnamon, sugar & sweet frosting!
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Medium" checked="checked" />
                                                                                <label for="Medium">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Large" />
                                                                                <label for="Large">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-10" id="Extra-Large" />
                                                                                <label for="Extra-Large">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/Cookie-600px.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">8″ CHOCOLATE CHIP COOKIE</h3>
                                                                    <p class="PT_dtls">Soft 8-inch chocolate chip cookie dotted with softly melted chocolate chips in every bite.
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-11" id="radio-28" checked="checked" />
                                                                                <label for="radio-28">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-11" id="radio-29" />
                                                                                <label for="radio-29">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-11" id="radio-30" />
                                                                                <label for="radio-30">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/Peach-Puddin-Pie-600px.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">PEACH PUDDIN’ PIE</h3>
                                                                    <p class="PT_dtls">Yummy peaches baked into sweet pudding in a house-made crust. Baked fresh in house!
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-12" id="radio-31" checked="checked" />
                                                                                <label for="radio-31">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-12" id="radio-32" />
                                                                                <label for="radio-32">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-12" id="radio-33" />
                                                                                <label for="radio-33">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/ChocolateCake.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">Molten Chocolate Cake</h3>
                                                                    <p class="PT_dtls">Crinkle cut Desserts just look like a good time. They're thick and heavy
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-13" id="radio-34" checked="checked" />
                                                                                <label for="radio-34">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-13" id="radio-35" />
                                                                                <label for="radio-35">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-13" id="radio-36" />
                                                                                <label for="radio-36">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/ChocloateCookie.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">Skillet Chocolate Chip Cookie</h3>
                                                                    <p class="PT_dtls">Skillet Chocolate Chip Cookie
                                                                        Topped with vanilla ice cream, hot fudge.
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-14" id="radio-37" checked="checked" />
                                                                                <label for="radio-37">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-14" id="radio-38" />
                                                                                <label for="radio-38">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-14" id="radio-39" />
                                                                                <label for="radio-39">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/StawberryCheeseCake.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">FRESH STRAWBERRY CHEESECAKE</h3>
                                                                    <p class="PT_dtls">The Original Topped with Glazed Fresh Strawberries. Our Most Popular Flavor for Over 35 Years!
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-15" id="radio-40" checked="checked" />
                                                                                <label for="radio-40">Medium</label>
                                                                            </li>
                                                                            <li>

                                                                                listOfItems.add(new OrderItem("1", "images/woahmama.png", "Woah Mama Pizza",
                                                                                "Tender chicken with our Ranch sauce, cheddar cheese, onions, bell peppers, jalapeños, bacon, & mozzarella cheese.",
                                                                                "10.00", OrderItem.PIZZA_CATEGORY, OrderItem.THREE_SIZES));
                                                                                <input type="radio" name="radio-group-15" id="radio-41" />
                                                                                <label for="radio-41">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-15" id="radio-42" />
                                                                                <label for="radio-42">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/CaramelAppleCheesecake.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">CHOCOLATE CARAMELICIOUS</h3>
                                                                    <p class="PT_dtls">Original Cheesecake Swirled with Snickers® on a Brownie Crust with Chocolate, Caramel and Peanuts.
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-16" id="radio-43" checked="checked" />
                                                                                <label for="radio-43">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-16" id="radio-44" />
                                                                                <label for="radio-44">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-16" id="radio-45" />
                                                                                <label for="radio-45">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/CARAMELICIOUS.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">CHOCOLATE CARAMELICIOUS</h3>
                                                                    <p class="PT_dtls">Original Cheesecake Swirled with Snickers® on a Brownie Crust with Chocolate, Caramel and Peanuts.
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-17" id="radio-46" checked="checked" />
                                                                                <label for="radio-46">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-17" id="radio-47" />
                                                                                <label for="radio-47">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-17" id="radio-48" />
                                                                                <label for="radio-48">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="P_itmesbox">
                                                                <div class="PT_image"><img src="images/CaramelAppleCheesecake.png" class="absoImg" alt=""></div>
                                                                <div class="PT_dscr">
                                                                    <h3 class="PT_title">CARAMEL APPLE CHEESECAKE</h3>
                                                                    <p class="PT_dtls">Our Creamy Original Cheesecake Loaded with Caramel Apples, Topped with More Caramel on a Graham Crust.
                                                                    </p>
                                                                    <div class="PT_optn">
                                                                        <ul class="PT-radio">
                                                                            <li>
                                                                                <input type="radio" name="radio-group-24" id="radio-49" checked="checked" />
                                                                                <label for="radio-49">Medium</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-24" id="radio-50" />
                                                                                <label for="radio-50">Large</label>
                                                                            </li>
                                                                            <li>
                                                                                <input type="radio" name="radio-group-24" id="radio-51" />
                                                                                <label for="radio-51">Extra Large</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="price_block">
                                                                        <div class="price">$ 10.00</div>
                                                                        <a href="#" class="card_btn">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="Beverages" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="beverage_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                     </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="right_cntbar col-lg-3">
                                    <div class="your_order">
                                        <div class="Order_title">
                                            <span class="O_lefttitle">Your order </span>
                                            <span class="O_cart"><a href="#" class="trans" title="Add To Cart"></a></span>
                                        </div>
                                        <div class="Order_number">
                                            <ul id="your_order_items_list">
                                                <!--   This section contains the dynamically generated menu content  -->

                                                <!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                                <li>-->
<!--                                                    <div class="Order_number">-->
<!--                                                        <div class="Order_names">-->
<!--                                                            <span class="O_name">1x Woah Mama Pizza</span>-->
<!--                                                            <span class="O_type">Extra Large</span>-->
<!--                                                        </div>-->
<!--                                                        <div class="Order_price">-->
<!--                                                            <span class="O_price">$12</span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
                                            </ul>
                                        </div>
                                        <div class="totle_Oamount">
                                            <div class="O_totlecost"  id="your_order_total_div">
                                                <span class="O_title">Total</span>
                                                <!--   This section contains the dynamically generated menu content  -->
<!--                                                <span class="O_price">$156</span>-->
                                            </div>
                                            <a href="cart.html" class="trans red_btn squre-btn hvr-ripple-out" title="">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Menu section -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:855 230 0555" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->
        <!-- Footer Section here -->
        <footer>
            <div class="main_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="M_footer">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 quick_links">
                                   <div class="title">Quick Links</div>
                                    <div class="main_cnt">
                                        <ul>
                                            <li><a href="about.html" class="trans" title="About us">About us</a></li>
                                            <li><a href="questions.html" class="trans" title="Questions">Questions</a></li>
                                            <li><a href="contactus.html" class="trans" title="Contacts">Contacts</a></li>
                                            <li><a href="login.html" class="trans" title="Sign-In">Sign-In</a></li>
                                            <li><a href="login.html" class="trans" title="Sign-up">Sign-up</a></li>
                                            <li><a href="terms_conditions.html" class="trans" title="Terms and conditions">Terms and conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 location">
                                    <div class="title">Our Location</div>
                                    <div class="main_cnt"> <span class="address"><a href="#">Colorado Technical University, North Chestnut Street, Colorado Springs, CO</a></span> <span class="time1">Mon - Fri: 08:00 am - 10:00 pm</span> <span class="time2">Sat - Sun: 10:00 am - 11:00 pm<strong></strong></span> <span class="conact"><a href="tel:855 230 0555">(855) 230-0555</a></span> </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 subscribe">
                                    <div class="title">Subscribe Now!</div>
                                    <div class="main_cnt">
                                        <p class="sbcr_label">Subscribe for our Whoa Mama newsletter to
                                            <br> get Daily offers and deals...
                                        </p>
                                        <form method="post" id="subscribeform" action="thank-you.html">
                                            <div class="sbcrb_input">
                                                <input type="text" name="subscribeemail" class="form-control" placeholder="Enter your email">
                                                <button class="subscribebutton send" name="getbutton" type="submit">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="F_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="payment"> <span>Payment Options</span> <span class="pay_cards"><img src="images/paymentTypes.png" alt=""></span> </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#" class="trans" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>© <a href="index.html" class="trans" title="jBravo Pizza">jBravo Pizza</a> <script type="text/javascript">document.write(new Date().getFullYear());</script>, All rights reserved By Mama </p>                </div>
            </div>
        </footer>
        <!-- Footer Section here -->
    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateMenu( [[${menuItems}]] );
        generateYourOrder( [[${cart}]] );
        </script>
    <!-- JS Here -->

</body>

</html>