<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="images/jbravo_icon.ico" type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title>Menu | jBravo pizza</title>
    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet" >
    <!-- Fonts here-->

    <!-- Style Here -->
    <link rel="stylesheet" href="css/slick.css" >
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- JS -->
    <script src="js/popper.min.js" defer></script>
    <script src="js/jquery.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start Here -->
        <header id="Header">
            <div class="main_header inner_page">
                <div class="top_nav" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a href="index.html" title="jBravo Pizza"><img src="images/jBravo_logo_2.png" alt="jBravo Pizza"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a href="index.html" class="trans hvr-underline-from-left">Home</a></li>
                                            <li><a href="about.html" class="trans">About</a></li>
                                            <li><a href="menu.html" class="trans">Order</a></li>
                                            <li><a href="login.html" class="trans">Sign-In</a></li>
                                            <li><a href="login.html" class="trans">Sign-up</a></li>
                                        </ul>
                                    </div>
                                    <div class="Cart" id="cart_summary">
                                        <a href="cart.html" title="Cart">
                                            <!--   This section contains the dynamically generated menu content  -->
<!--                                            <span class="Cart_count">Cart : (0) $00.00</span>-->
                                            <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                                            <img class="cart_img" src="/images/cart_1.png" alt="cart_1">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
                <div class="H_banner">
                    <div class="main_pitch">
                        <h1 class="page_title">Menu</h1>
                    </div>
                </div>
            </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a href="index.html" title="jBravo Pizza"><img src="images/jBravo_logo_2.png" alt="jBravo Pizza"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="menu.html">Order</a></li>
                        <li><a href="login.html">Sign-In</a></li>
                        <li><a href="login.html">Sign-up</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header end Here -->

        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>Our Menu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->
        <!-- Our Menu section -->
        <!-- Our Menu section -->
        <section>
            <div class="Our_menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Entrées</h2>
                                <div class="content_menu bottom_pitch">
                                    <div class="main_bpitch">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item pizza">
                                                <a class="nav-link active trans" data-toggle="tab" href="#pizza" title="Pizza">
                                                    <span class="icon">Pizza</span>
                                                </a>
                                            </li>
                                            <li class="nav-item burger1">
                                                <a class="nav-link trans" data-toggle="tab" href="#burger1" title="Sandwiches">
                                                    <span class="icon">Sandwiches</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Salads">
                                                <a class="nav-link trans" data-toggle="tab" href="#salad" title="Salads">
                                                    <span class="icon">Salads</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Desserts">
                                                <a class="nav-link trans" data-toggle="tab" href="#Desserts" title="Desserts">
                                                    <span class="icon">Desserts</span>
                                                </a>
                                            </li>
                                            <li class="nav-item Beverages">
                                                <a class="nav-link trans" data-toggle="tab" href="#Beverages" title="Beverages">
                                                    <span class="icon">Beverages</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">

                                    <div id="pizza" class=" tab-pane active">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="pizza_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="burger1" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="sandwich_items_row">
                                                                <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="salad" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="salad_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="Desserts" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row" id="dessert_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                    </div>>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="Beverages" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="pizza_items">
                                                    <div class="row"  id="beverage_items_row">
                                                        <!--   This section contains the dynamically generated menu content  -->
                                                     </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="right_cntbar col-lg-3">
                                    <div class="your_order">
                                        <div class="Order_title">
                                            <span class="O_lefttitle">Your order </span>
                                            <span class="O_cart"><a href="#" class="trans" title="Add To Cart"></a></span>
                                        </div>
                                        <div class="Order_number">
                                            <ul id="your_order_items_list">
                                                <!--   This section contains the dynamically generated menu content  -->
                                            </ul>
                                        </div>
                                        <div class="totle_Oamount">
                                            <div class="O_totlecost"  id="your_order_total_div">
                                                <span class="O_title">Total</span>
                                                <!--   This section contains the dynamically generated menu content  -->
<!--                                                <span class="O_price">$156</span>-->
                                            </div>
                                            <a href="cart.html" class="trans red_btn squre-btn hvr-ripple-out" title="">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Menu section -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:855 230 0555" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->
        <!-- Footer Section here -->
        <footer>
            <div class="main_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="M_footer">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 quick_links">
                                   <div class="title">Quick Links</div>
                                    <div class="main_cnt">
                                        <ul>
                                            <li><a href="about.html" class="trans" title="About us">About us</a></li>
                                            <li><a href="questions.html" class="trans" title="Questions">Questions</a></li>
                                            <li><a href="contactus.html" class="trans" title="Contacts">Contacts</a></li>
                                            <li><a href="login.html" class="trans" title="Sign-In">Sign-In</a></li>
                                            <li><a href="login.html" class="trans" title="Sign-up">Sign-up</a></li>
                                            <li><a href="terms_conditions.html" class="trans" title="Terms and conditions">Terms and conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 location">
                                    <div class="title">Our Location</div>
                                    <div class="main_cnt"> <span class="address"><a href="#">Colorado Technical University, North Chestnut Street, Colorado Springs, CO</a></span> <span class="time1">Mon - Fri: 08:00 am - 10:00 pm</span> <span class="time2">Sat - Sun: 10:00 am - 11:00 pm<strong></strong></span> <span class="conact"><a href="tel:855 230 0555">(855) 230-0555</a></span> </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 subscribe">
                                    <div class="title">Subscribe Now!</div>
                                    <div class="main_cnt">
                                        <p class="sbcr_label">Subscribe for our Whoa Mama newsletter to
                                            <br> get Daily offers and deals...
                                        </p>
                                        <form method="post" id="subscribeform" action="thank-you.html">
                                            <div class="sbcrb_input">
                                                <input type="text" name="subscribeemail" class="form-control" placeholder="Enter your email">
                                                <button class="subscribebutton send" name="getbutton" type="submit">
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="F_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="payment"> <span>Payment Options</span> <span class="pay_cards"><img src="images/paymentTypes.png" alt=""></span> </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#" class="trans" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="trans" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <p>© <a href="index.html" class="trans" title="jBravo Pizza">jBravo Pizza</a> <script type="text/javascript">document.write(new Date().getFullYear());</script>, All rights reserved By Mama </p>                </div>
            </div>
        </footer>
        <!-- Footer Section here -->
    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateMenu( [[${menuItems}]] );
        generateYourOrder( [[${cart}]] );
        generateCartSummary( [[${cart}]] );
     </script>
    <!-- JS Here -->

</body>

</html>