<!--<!doctype html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">

<head>
    <!--/*/ <th:block th:replace="jbravoHeader.html :: headerfiles(pitchTitle='Thank You')">
           </th:block> /*/-->
</head>

<body>

<div th:replace="jbravoHeader.html :: bodyHeader(pitchTitle='Thank You')">
</div>


<!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="index.html" class="trans" title="Home">Home</a></li>
                                <li>Thank You </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->
        <!-- Questions section -->
        <div id="complated">
            <div class="main_complated">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="inner_complated">
                                <div class="img_cmpted"><img src="images/cmpted_logo.png" alt=""></div>
                                <p class="dsc_cmpted">Thank you for ordering in our restaurant. You will receive a confirmation email shortly. Now check a Pizza Tracker progress with your order.</p>
                                <div class="btn_cmpted">
                                    <a href="#" class="trans red_btn hvr-float-shadow" title="Go To Tracker">Go To Tracker </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Questions section -->

        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_quickorder">
                                <h3 class="title">Call Us for Quick Order</h3>
                                <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:855 230 0555" id="typewriter_num"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->

        <!-- Footer Section here -->
        <!--/*/ <th:block th:insert="jbravoFooter.html :: footer">
           </th:block> /*/-->


    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer></script>
    <script src="js/slick.js" defer></script>
    <script src="js/jquery.validate.min.js" defer></script>
    <script src="js/menu.generation.js" ></script>
    <script th:inline="javascript">
        generateCartSummary( [[${cart}]] );
    </script>
    <!-- JS Here -->
</body>

</html>